{% extends 'admin_base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 divHomeAdmin">
            <h1> Administration </h1>
            <p class="admin"> Bienvenue sur la page d'accueil d'administration de votre site. Ici, vous pouvez créer, modifier, ajouter, mettre à jour et supprimer du contenu sur le site. Grâce à la barre de navigation ou aux liens ci-dessous, des liens vous redirigeront vers la catégorie que vous souhaitez rejoindre. </p>

          <div class="card" style="background-color: #343a40;">
            <div class="card-body" style="background-color: #343a40;">
            <div class="d-flex align-items-center justify-content-around">
              <a href="{{ path('home') }}" class="btn btn-light"> Retour à l'accueil </a>
              <a href="{{ path('episode_index') }}" class="btn btn-light"> Ajouter, modifier ou supprimer un épisode </a>
              <a href="{{ path('article_index') }}" class="btn btn-light"> Ajouter une actualité </a>
              <a href="{{ path('manga_index') }}" class="btn btn-light"> Ajouter un manga </a>
              <a href="{{ path('scan_index') }}" class="btn btn-light"> Ajouter un scan </a>
            </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}
