{% extends 'admin_base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Video_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.name }}</td>
                <td>{{ episode.videoUrl }}</td>
                <td>
                    <a href="{{ path('episode_show', {'id': episode.id}) }}">show</a>
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">Create new</a>
{% endblock %}
