{% extends 'admin_base.html.twig' %}

{% block title %}Mes articles {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 py-5">
            <div class="d-flex align-items-center justify-content-between">
                <h1>Liste des articles</h1>
                <a href="{{ path('article_new') }}" class="btn btn-dark">+ Ajouter un article</a>
            </div>
        </div>

        {% for article in articles %}
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <img src="{{ asset(article.manga.image) }}" style="height:50px;object-fit:contain;"/>
                        <h3 class="ml-2">{{ article.manga.name | upper }}</h3>
                    </div>
                
                    <hr/>
                    <h5>{{ article.titre }}</h5>
                </div>
                <div class="card-body">
                    {{ article.contenu | raw }}
                </div>
                <div class="card-footer">
                    {{ article.createdAt | date('d-m-Y')}}
                    <hr/>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-info">modifier</a>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
{% endblock %}
